@charset "UTF-8";

div.Logocurso {
    margin-top: 5%;
}
div.Logocurso img {
    height: 25%;
    max-width: 160px;
}

div.infocurso img#linha {
    height: 15%;
    max-width: 160px;
}

div.apresentacaocurso iframe{
    margin: auto auto 5% 30%;
    
}
div.descricao p{
    text-align: justify;
    font-size: 12pt;
    margin: 5% 5% 5% 5% ;
}

div.conteudo {
    border: 1px solid #777;
}

div.conteudo table, h2{
    margin: 5% 5% auto 15%;
}

.botao3d {
    display: block;
    border: 1px solid;
    width: 200px;
    padding: 10px;
    background: #3d844b; 
    color: white;
}

.botao3d:hover	{
    position: relative;
    top: 1px;
    left: 1px;
    background: #3F6;
}
