@charset "UTF-8";

section#corpo{
    background: #d3d3d3;
}

/* TAMANHO PARA TELA DE PC */
@media screen and (min-width: 900px) {
    .espaco{
      margin: 0 50px 0 30%;
      height: none;
      
    }
  }

/* TAMANHO PARA TELA DE CELULAR */
@media screen and (max-width: 900px) {
    .espaco{
      padding: 2rem;
      height: none;
    }

    section#corpo h4{
        top: 2rem;
        font-size: 25px;
    }
  }

.corpo {
    background: #fff;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5rem;
    text-align:center;
}
    
.corpo #closebtn {
    position: absolute;
    top: 4rem;
    right: 1rem;
    text-decoration: none;
    color: #1E90FF;
    display: block;
    transition: margin-left .8s ease-in-out;
}

section#corpo h4{
    text-align: center;
    border-radius:3px;
    padding: 10px;
    background-color: #dddddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

section#corpo h6{
    text-align: left;
    padding: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.apostila{
    height: 600px;
    width: 100%;
}

.espaco iframe{
    padding-top: 20px;
    padding-bottom: 20px;
}

.espaco iframe#video{
    height: 100%;
    max-height: 560px;
    min-height: 315px;
    width: 560px;
    max-width: 100%;
}

.espaco iframe.doc{
    position: relative;
    height: 800px;
    width: 100%;
}

section#corpo h4.atividade {
    background-color: #3CB371;
}

section#corpo h4.dica {
    background-color:  #cf9f51;
}

#baixar .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d844b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #baixar .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #baixar .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #baixar .button:hover span {
    padding-right: 25px;
  }
  
  #baixar .button:hover span:after {
    opacity: 1;
    right: 0;
    
  }
