@charset "UTF-8"

ul#album-fotos {

	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#album-fotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 50px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s ease-in;
	list-style: none;
}

ul#album-fotos li span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

ul#album-fotos li:hover {
	-webkit-transform: scale(1.5) ;
}

ul#album-fotos li:hover span {
	opacity: 1;
}

ul#album-fotos li#filme01 {
	background: url('../_img/another_capa.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}

ul#album-fotos li#filme01:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme02 {
	background: url('../_imagens/A-Aparicao.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;

}
ul#album-fotos li#filme02:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme03 {
	background: url('../_imagens/A-Arte-da-Conquista.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;

}
ul#album-fotos li#filme03:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme04 {
	background: url('../_imagens/ProcurandoDory.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme04:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}
ul#album-fotos li#filme05 {
	background: url('../_imagens/Um Olhar do Paraiso.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme05:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}
ul#album-fotos li#filme06 {
	background: url('../_imagens/vingadores.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme06:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme07 {
	background: url('../_imagens/AArtedeAmar.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme07:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme08 {
	background: url('../_imagens/a-arvore-da-vida.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme08:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme09 {
	background: url('../_imagens/A Assassina.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme09:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme10 {
	background: url('../_imagens/autopsia.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme10:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme11 {
	background: url('../_imagens/abeiradoabismo.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme11:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme12 {
	background: url('../_imagens/beiramar.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme12:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme13 {
	background: url('../_imagens/AEsperadeTuristas.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme13:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#filme14 {
	background: url('../_imagens/Afuga.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}
ul#album-fotos li#filme14:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

