@charset "UTF-8";


embed{
    height: 400px;
    width: 900px;
    margin-left: 2%;
}

header#sumario{
    display: block;
    position: fixed;
    border: 8px solid gray;  
    margin-left: 2px;
    width:28%;
    height: 100%;
    background: #dddddd;
    position: absolute;
    left:0;
    top:20%;
    z-index: 5;
    overflow: auto;
}

header#sumario h4{
    text-align: center;
}


nav ul{
    list-style:none;
    margin:5px 0;
    padding:0;
}
nav a{
    display:block;
    border:1px solid #e5e5e5;
    border-left:0;
    border-right:0;
    margin:3px 0;
    color:#333;
    padding:5px 0;
    text-decoration: none;
}

ol {
    list-style-type: none;
}
.box{
    position: absolute;
    top:5%;
    right:10px;
    width:70%;
    height:70%;
    background: #ffffff;;
}
.box h2{
    font-size:20px;
    padding:10px;
}
.box p{
    font-size:12px;
    padding:10px;
}
.content{
    background-color: #ffffff;
    min-width: 100%;
    height: 100%;
    position: absolute;
    margin-left:-101%;
    -webkit-transition: margin-left .8s ease-in-out;
    -moz-transition: margin-left .8s ease-in-out;
    -o-transition: margin-left .8s ease-in-out;
    transition: margin-left .8s ease-in-out;
}
.content:target{
    margin-left:0;
}
#home{
    margin-left:0;
}
#apostila:target ~ header #link-apostila a,
#unidade:target ~ header #link-unidade a,
#aula1:target ~ header #link-aula1 a,
#atividade1:target ~ header #link-atividade1 a,
#aula1.2:target ~ header #link-aula1.2 a,
#aula1.3:target ~ header #link-aula1.3 a,
#aula2:target ~ header #link-aula2 a,
#dica01:target ~ header #link-dica01 a,
#unidade2:target ~ header #link-unidade2 a,
#aula3:target ~ header #link-aula3 a,
#aula3.2:target ~ header #link-aula3.2 a,
#aula3.3:target ~ header #link-aula3.3 a,
#aula4.1:target ~ header #link-aula4.1 a,
#aula4.2:target ~ header #link-aula4.2 a,
#aula5.1:target ~ header #link-aula5.1 a,
#aula5.1.2:target ~ header #link-aula5.1.2 a,
#aula5.2:target ~ header #link-aula5.2 a,
#aula6.1:target ~ header #link-aula6.1 a,
#aula6.2:target ~ header #link-aula6.2 a,
#aula7.1:target ~ header #link-aula7.1 a,
#aula7.2.1:target ~ header #link-aula7.2.1 a,
#aula7.2.2:target ~ header #link-aula7.2.2 a,
#aula8.1:target ~ header #link-aula8.1 a,
#aula8.2:target ~ header #link-aula8.2 a,
#aula8.3:target ~ header #link-aula8.3 a,
#aula8.4:target ~ header #link-aula8.4 a,
#aula8.5:target ~ header #link-aula8.5 a,
#aula9.1:target ~ header #link-aula9.1 a,
#aula9.2:target ~ header #link-aula9.2 a{
    background: #333;
    color: #fff;
}

div.videoaula iframe{
    margin-left: 20%;
}

/*Parte antiga*/
div#rodape{
    display: block;
    background-color: #dddddd;
    position: absolute;
    width: 100%;
    margin: 50% auto 0px auto;
}

hgroup#infoUnidade{
    background-color: #dddddd;
    margin:50px auto 50px auto;
}

section#corpo p{
    text-align: justify;
    font-size: 12pt;
    padding: 10px 10px 10px 10px;
}

section#corpo h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
}

section#corpo h1,h4,h5,h6{

    padding: 10px 10px 10px 10px;
    background-color: #dddddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}
/*Figures*/
figure.exemplos-fracao-legenda img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.exemplos-fracao-legenda{
    position: relative;
    border: 8px solid white;  
}

figure.exemplos-fracao-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.exemplos-fracao-legenda:hover figcaption{
    opacity: 1;
}

/*-------------------2-----------------*/
figure.gif-pizza-legenda{
    position: relative;
    border: 8px solid white;  
}

figure.gif-pizza-legenda img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

figure.gif-pizza-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.gif-pizza-legenda:hover figcaption{
    opacity: 1;
}


figure. img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


label{
    padding: 10px;
    padding-left: 38px;
    position: relative;
    font-size: 1em;
    line-height: normal;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    clear: both;
    margin-bottom: 10px;
    border: 2px solid #e4e4e4;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    color: #313131;
    font: italic 300 1rem/1.6rem Georgia,Cambria,"Times New Roman",Times,serif;
    margin-bottom: 5px;
    text-shadow: 0 1px rgba(255,255,255,0.4);
    -webkit-font-smoothing: antialiased;
}